.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
 transform: translate(-50%);
  &__social{
    display: flex;
    cursor: pointer;
    gap: 10px;
  }
}