@import "elements/_all.scss";
@import "generic/_all.scss";
@import "settings/_all.scss";

.height {
  height: 100vh;
}

.bgGrey {
  background-color: grey;
}

.bgTomato {
  background-color: tomato;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.fixed {
  position: fixed;
}