@import "generic/_all.scss";
@import "settings/_all.scss";
@import "elements/_all.scss";

body {
  font-family: $font-base;
  color: $font-color-prime;
}

.height {
  height: 100vh;
}

.bgGrey {
  background-color: grey;
}

.bgTomato {
  background-color: tomato;
}

.fixed {
  position: fixed;
}

.flex--end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1444px;
}

.button {
  background-color: white;
  color: $font-color-prime;
  text-decoration: none;
  border: 1px solid $font-color-prime;
}

.input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $font-color-prime;
  padding-bottom: 5px;
}

.label {
  font-size: 16px;
  font-weight: 600;
}

.textarea {
  height: 100px;
  font-family: $font-base;
  color: $font-color-prime;
}